<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

    <title>BuyIT</title>

    <link rel="stylesheet" href="~/css/adminStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/js/ECommerce.js"></script>

</head>

<body>

    <!--	navbar starts here-->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Buy IT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard <span class="sr-only">(current)</span></a></li>*@
                    <li>
                        <a href="@Url.Action("Contact","Home")">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            İletişim
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Profil
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Help","Home")">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            Yardım
                        </a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            Add Users
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                            Add Categories
                        </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--    navbar ends here-->
    <div class="container-fluid">
        <div class="row">

            @*<div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Reports</a></li>
                        <li><a href="#">Stats</a></li>
                        <li><a href="#">graphs</a></li>
                        <li><a href="#">users</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Reports</a></li>
                        <li><a href="#">Revenue</a></li>
                        <li><a href="#">countries</a></li>
                        <li><a href="#">spamers</a></li>
                    </ul>
                </div>*@
            <div class="col-sm-3 col-md-2 sidebar">
                @{await Html.RenderPartialAsync("_Partial_Categories");}
            </div>
            @RenderBody()
    </div>
    </div>


    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>



</body>

</html>
