@{
    List<Category> categories = new List<Category>();

    using (ECommerceContext eCommerceContext = new ECommerceContext())
    {
        categories = eCommerceContext.Categories.ToList();
    }
}
<div class="nav nav-sidebar" style="float: left; margin-left:-15px; margin-top:55px">

    <div class="list-group">
        @foreach (Category category in categories)
        {
            <a href="@Url.Action("Index", "Category", new { id = category.Id })" class="list-group-item">@category.Name</a>
        }
        </div>
    </div>
