@model List<Category>

@*@{await Html.RenderPartialAsync("_Partial_Categories");}*@

@*<p>
    <a href="@Url.Action("Help", "Home")">Yardım Masasına Git</a>
    <h3><a href="@Url.Action("Contact","Home")">İletişim için tıklayın</a></h3>
</p>*@




